/* post_list.html */
table.table {
	width: 100%;
	margin-bottom: 5px;
}

th:first-child {
	width: 60%;
}

th.no_post {
	text-align: center;
}

button.create_post {
	float: right;
	clear: left;
	margin-right: 10px;
}

nav {
	text-align: center;
}


/* post.html */
div.page-header h1,
div.page-header h4 {
	display: inline;
}

div.page-header h4 {
	color: gray;
}

div.post-body {
	font-size: 1.3em;
	padding: 0 20px;
	white-space: pre;
}

div#button-wrap {
	float: right;
}


/*create_post.html*/
div.form-group {
	vertical-align: middle;
}

input.write-btn {
	margin: 0 0 0 50%;
}


/*fix_post.html*/
form.fix {
	text-align: center;
}