{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.name }}
{% endblock %}

{% block extra %}
<link rel="stylesheet" type="text/css" href='{% static "board/style.css" %}'>
{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ post.title }}&nbsp;
		<small>
			<span class="glyphicon glyphicon-pencil"></span>{{ post.author }}&nbsp;
			<span class="glyphicon glyphicon-calendar"></span>{{ post.register_date }}
		</small>
	</h1>
</div>
<div class="post-body">
	{{ post.body }}
</div>
{% if fixable %}
<button id="fix-post" class="btn btn-default" onclick="fix_post();" type="submit">글 수정</button>
{% endif %}
{% endblock %}

{% block script %}
<script>
var fix_post = function() {
	window.location = '{{ post.id }}/fix'
}
</script>
{% endblock %}