{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.name }}
{% endblock %}

{% block extra %}
<link rel="stylesheet" type="text/css" href='{% static "board/style.css" %}'>
{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ post.title }}&nbsp;
	</h1>
	<h4>
		<span class="glyphicon glyphicon-pencil"></span> {{ post.author }}&nbsp;&nbsp;
		<span class="glyphicon glyphicon-calendar"></span> {{ post.register_date }}
	</h4>
</div>
<div class="post-body">{{ post.body }}</div>
{% if fixable %}
<div id="button-wrap">
	<button id="fix-post" class="btn btn-default" onclick="fix_post();" type="submit">글 수정</button>
	<button id="delete-post" class="btn btn-danger" onclick="delete_post();" type="submit">글 삭제</button>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
var fix_post = function() {
	window.location = '{{ post.id }}/fix';
}

var delete_post = function() {
	window.location = '{{ post.id }}/delete';
}
</script>
{% endblock %}