{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ category }} 게시판
{% endblock %}

{% block extra %}
<link rel="stylesheet" type="text/css" href='{% static "board/style.css" %}'>
{% endblock %}

{% block body %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
	</thead>
	<tbody>
	{% if length == 0 %}
		<tr>
			<th class="no_post" colspan="3">등록된 게시물이 없습니다.</th>
		</tr>
	{% else %}
	{% for post in post_list %}
		<tr>
			<th><a href="/board/{{ category }}/{{ post.pk }}">{{ post.title }}</a></th>
			<th><a href="/user/{{ post.author }}">{{ post.author }}</a></th>
			<th>{{ post.register_date }}</th>
		</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
<button id="create_post" class="btn btn-default create_post" onclick="write_post();" type="submit">글 작성</button>
{% if is_paginated %}
<nav aria-label="Page navigation">
	<ul class="pagination">
		<li>
		{% if page_obj.has_previous %}
			<a href="/board/{{ category }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		{% endif %}
		</li>
		{% for page in paginator.page_range %}
			{% if page == page_obj.number %}
		<li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
			{% else %}
		<li><a href="/board/{{ category }}?page={{ page }}">{{ page }}</a></li>
			{% endif %}
		{% endfor %}
		<li>
		{% if page_obj.has_next %}
			<a href="/board/{{ category }}?page={{ page_obj.next_page_number }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		{% endif %}
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}

{% block script %}
<script>
var write_post = function() {
	window.location = '/board/{{ category }}/write';
}
</script>
{% endblock %}