{% extends 'base.html' %}
{% load static %}

{% block title %}
로그인
{% endblock %}

{% block extra %}
<link rel="stylesheet" type="text/css" href='{% static "account/style.css" %}'>
{% endblock %}

{% block body %}
<div class="login-box">
	<form class="form-horizontal" action="login" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="inputId" class="col-sm-4 control-label">ID</label>
			<div class="col-sm-8">
				{{ form.id }}
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-4 control-label">Password</label>
			<div class="col-sm-8">
				{{ form.password }}
			</div>
		</div>
		<input class="btn btn-default" type="submit" value=" 로그인하기 " />
	</form>
</div>
{% endblock %}